body {
    font-family: 'Noto Sans', sans-serif;
}

.web-title {
    background: -webkit-linear-gradient(135deg, #007AFF, #00BFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px;
    font-family: 'Viga', sans-serif;}

.mascott {
    height: 480px;
    position: absolute;
    top: -480px;
    left: 0px;
    scale: -1x;
}

.mascott-2 {
    height: 640px;
    position: absolute;
    top: -520px;
    left:-80px;
}

@media screen and (max-width: 1600px){
    .mascott-2 {
        height: 570px;
        left: -80px;
        top: -460px;
    }
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.table-container table,
th,
td,
tr {
    border: 1px solid rgb(213, 213, 213);
    text-align: center;

}

.table-container {
    position: relative;
}

.table-container th {
    font-size: x-large;
}

.table-container td:first-child {
    width: 20%;
}

.table-container img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.table-container tr {
    transition: ease-in-out 0.4s;
    background: white;
}

.table-container tr td:nth-child(2) {
    width: 20%;

}

.table-container tr td:nth-child(3) {
    width: 1 0%;

}

.table-container tr td:last-child {
    width: 20%;
}


.table-container tr:hover {
    background: rgb(230, 243, 255);
}

.button {
    cursor: pointer;
    transition: ease-in-out 0.6s;
    background: linear-gradient(135deg, #ffff, #ffff);
    ;
    color: rgb(77, 130, 252);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(77, 130, 252);
}

.button:hover {
    background: linear-gradient(135deg, #007AFF, #00BFFF);
    color: white;
    border: 1px solid rgb(77, 130, 252);
}

.book-title {
    font-size: large;
    font-weight: 600;
}

button {
    all: unset;
}